<h3>Escolha seu clube de consulta.</h3>

  <h2>Meus Clubes</h2>

<table class='records'>
  <tr>
    <th>Name</th>
    <th COLSPAN="3"> Ações</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td align='center'>
        <%= link_to image_tag('/images/buttons/arrow.png'), switch_to_company_user_path(company.id) %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @companies %>