<div class="mensagem" onclick="$(this).remove()">
  <%= image_tag "mensagens/#{type}.png", :class => 'mensagem_icones' %>
    <% Array.wrap(flash[type]).each do |message| %>
      <p>
        <%= "#{message}" %>
      </p>
    <% end %>
</div>
